consul:
  host: {{ patroni_consul_host |d('127.0.0.1:' ~ (patroni_consul_port |d(8500, true)), true) }}
  port: {{ patroni_consul_port |d(8500, true) }}
{% if patroni_consul_url |d(None, true) %}
  url: {{ patroni_consul_url }}
{% endif %}
{% if patroni_consul_scheme |d(None, true) %}
  scheme: {{ patroni_consul_scheme }}
{% endif %}
{% if patroni_consul_token |d(None, true) %}
  token: {{ patroni_consul_token }}
{% endif %}
{% if patroni_consul_verify |d(None, true) %}
  verify: {{ patroni_consul_verify }}
{% endif %}
{% if patroni_consul_cacert |d(None, true) %}
  cacert: {{ patroni_consul_cacert }}
{% endif %}
{% if patroni_consul_cert |d(None, true) %}
  cert: {{ patroni_consul_cert }}
{% endif %}
{% if patroni_consul_key |d(None, true) %}
  key: {{ patroni_consul_key }}
{% endif %}
{% if patroni_consul_dc |d(None, true) %}
  dc: {{ patroni_consul_dc }}
{% endif %}
{% if patroni_consul_checks |d(None, true) %}
  checks: {{ patroni_consul_checks }}
{% endif %}
{% if patroni_consul_register_service |d(None, true) %}
  register_service: {{ patroni_consul_register_service |lower }}
{% endif %}
{% if patroni_consul_register_service |d(None, true) and patroni_consul_service_check_interval |d(None, true) %}
  service_check_interval: {{ patroni_consul_service_check_interval }}
{% endif %}