---
#os: linux
#dist: trusty
sudo: required
language: python

env:
  - DISTRIBUTION=ubuntu DISTRIBUTION_VERSION=16.04 ANSIBLE_VERSION=2.4 DCS=etcd
  - DISTRIBUTION=centos DISTRIBUTION_VERSION=7     ANSIBLE_VERSION=2.9 DCS=etcd

before_install:
  - sudo apt -qq update && sudo apt -qq purge erlang-* mongodb-* openjdk-* postgresql-* redis-* ruby-* && sudo apt -qq upgrade docker-ce

install:
  - pip install setuptools docker-compose ansible==${ANSIBLE_VERSION} --upgrade -q > /dev/null
  - docker-compose -f tests/${DISTRIBUTION}-${DISTRIBUTION_VERSION}-compose.yml -f tests/${DCS}-compose.yml up -d

before_script:
  - docker ps -a
  - ansible-playbook -i tests/hosts tests/patroni.yml --syntax-check

script:
  - travis_wait 45 ansible-playbook -i tests/hosts tests/patroni.yml -Dvv --limit ${DISTRIBUTION}-${DISTRIBUTION_VERSION} --extra-vars patroni_dcs=${DCS}

after_script:
  - sleep 10
  - ansible -i tests/hosts ${DISTRIBUTION}-${DISTRIBUTION_VERSION} -a "journalctl -u patroni -n1000 --no-pager"
  - ansible -i tests/hosts ${DISTRIBUTION}-${DISTRIBUTION_VERSION} -a "cat /var/log/patroni/patroni.log"
  - ansible -i tests/hosts ${DISTRIBUTION}-${DISTRIBUTION_VERSION} -m shell -a "patronictl -c /etc/patroni/*.yml list main"
  - docker exec -t ${DISTRIBUTION}0 /bin/sh -c "patronictl -c /etc/patroni/*.yml failover main --candidate ${DISTRIBUTION}1 --force"
  - sleep 15
  - ansible -i tests/hosts ${DISTRIBUTION}-${DISTRIBUTION_VERSION} -m shell -a "patronictl -c /etc/patroni/*.yml list main"
  - docker-compose -f tests/${DISTRIBUTION}-${DISTRIBUTION_VERSION}-compose.yml -f tests/${DCS}-compose.yml down
  - pip uninstall -y setuptools docker-compose ansible==${ANSIBLE_VERSION} -q > /dev/null
