global
        maxconn 100

defaults
        log     global
        mode    tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s

listen stats
        mode http
        bind *:{{ patroni_haproxy_stats_listen_port }}
        stats enable
        stats uri /

listen master
        bind *:{{ patroni_haproxy_leader_listen_port }}
        option httpchk OPTIONS /master
        http-check expect status 200
        default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for server in patroni_haproxy_servers %}
        server {{ server.name }} {{ server.ip }}:{{ server.port }} maxconn 100 check port {{ patroni_restapi_port }}{% if patroni_restapi_certfile is defined %} check-ssl verify none{% endif +%}
{% endfor %}

listen replicas
        bind *:{{ patroni_haproxy_replica_listen_port }}
        option httpchk OPTIONS /replica
        http-check expect status 200
        default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for server in patroni_haproxy_servers %}
        server {{ server.name }} {{ server.ip }}:{{ server.port }} maxconn 100 check port {{ patroni_restapi_port }}{% if patroni_restapi_certfile is defined %} check-ssl verify none{% endif +%}
{% endfor %}
