#jinja2: lstrip_blocks: True
scope: {{ patroni_scope |d('main', true) }}
namespace: {{ patroni_namespace |d('/service/', true) }}
name: {{ patroni_name |d(inventory_hostname, true) }}

restapi:
  listen: {{ patroni_restapi_listen |d('0.0.0.0:8008', true) }}
  connect_address: {{ patroni_restapi_connect_address |d(ansible_host + ':8008', true) }}
{% if patroni_restapi_certfile |d(None, true) and patroni_restapi_keyfile |d(None, true) %}
  certfile: {{ patroni_restapi_certfile }}
  keyfile: {{ patroni_restapi_keyfile }}
{% endif %}
{% if patroni_restapi_username |d(None, true) and patroni_restapi_password |d(None, true) %}
  authentication:
    username: {{ patroni_restapi_username }}
    password: {{ patroni_restapi_password }}
{% endif %}

{% include 'dcs/' + (patroni_dcs |d('etcd')) + '.yml.j2' %}

bootstrap:
  dcs:
    ttl: {{ patroni_bootstrap_dcs_ttl |d(30, true) |int }}
    loop_wait: {{ patroni_bootstrap_dcs_loop_wait |d(10, true) |int }}
    retry_timeout: {{ patroni_bootstrap_dcs_retry_timeout |d(10, true) |int }}
    maximum_lag_on_failover: {{ patroni_bootstrap_dcs_maximum_lag_on_failover |d(1048576, true) |int }}
    master_start_timeout: {{ patroni_bootstrap_dcs_master_start_timeout |d(300, true) |int }}
    synchronous_mode: {{ patroni_bootstrap_dcs_synchronous_mode |d(false, true) |lower }}
    postgresql:
      use_pg_rewind: {{ patroni_bootstrap_dcs_postgresql_use_pg_rewind |string |d(true, true) |replace(None, true) |lower }}
      use_slots: {{ patroni_bootstrap_dcs_postgresql_use_slots |string |d(true, true) |replace(None, true) |lower }}
    {% if patroni_bootstrap_dcs_postgresql_parameters |d([], true) |length > 0 %}
      parameters:
      {% for guc in patroni_bootstrap_dcs_postgresql_parameters %}
        {{ guc.option }}: {{ guc.value }}
      {% endfor %}
    {% endif %}
    {% if patroni_bootstrap_dcs_postgresql_recovery_conf |d([], true) |length > 0 %}
      recovery_conf:
      {% for item in patroni_bootstrap_dcs_postgresql_recovery_conf %}
        {{ item.option }}: {{ item.value }}
      {% endfor %}
    {% endif %}
{% if patroni_bootstrap_method_name |d(None, true) and patroni_bootstrap_method_command |d(None, true) %}
  method: {{ patroni_bootstrap_method_name }}
  {{ patroni_bootstrap_method_name }}:
    command: {{ patroni_bootstrap_method_command }}
    keep_existing_recovery_conf: {{ patroni_bootstrap_method_keep_existing_recovery_conf |d(false, true) |lower }}
  {% if patroni_bootstrap_method_recovery_conf |d([], true) |length > 0 %}
    recovery_conf:
    {% for item in patroni_bootstrap_method_recovery_conf %}
      {{ item.option }}: {{ item.value }}
    {% endfor %}
  {% endif %}
{% endif %}
{% if patroni_bootstrap_initdb |d([], true) |length > 0 %}
  initdb:
  {% for item in patroni_bootstrap_initdb %}
    {% if item.value is undefined %}
    - {{ item.option }}
    {% else %}
    - {{ item.option }}: {{ item.value }}
    {% endif %}
  {% endfor %}
{% endif %}
{% if patroni_bootstrap_pg_hba |d([], true) |length > 0 %}
  pg_hba:
  {% for client in patroni_bootstrap_pg_hba %}
    - {{ client.type }} {{ client.database }} {{ client.user }} {{ client.address|d(None) }} {{ client.method }}
  {% endfor %}
{% endif %}
{% if patroni_bootstrap_post_bootstrap |d(None, true) %}
  post_bootstrap: {{ patroni_bootstrap_post_bootstrap }}
{% endif %}
{% if patroni_bootstrap_post_init |d(None, true) %}
  post_init: {{ patroni_bootstrap_post_init }}
{% endif %}
{% if patroni_bootstrap_users |d([], true) |length > 0 %}
  users:
  {% for user in patroni_bootstrap_users %}
    {{ user.name }}:
      password: {{ user.password }}
    {% if user.options |d([], true) |length > 0 %}
      options:
      {% for option in user.options %}
        - {{ option }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

postgresql:
  use_unix_socket: {{ patroni_postgresql_use_unix_socket |string |d(true, true) |replace(None, true) |lower }}
  listen: {{ patroni_postgresql_listen |d('0.0.0.0:5432', true) }}
  connect_address: {{ patroni_postgresql_connect_address |d(ansible_host + ':5432', true) }}
{% if patroni_postgresql_data_dir |d(None, true) %}
  data_dir: {{ patroni_postgresql_data_dir }}
{% endif %}
{% if patroni_postgresql_bin_dir |d(None, true) %}
  bin_dir: {{ patroni_postgresql_bin_dir }}
{% endif %}
{% if patroni_postgresql_config_dir |d(None, true) %}
  config_dir: {{ patroni_postgresql_config_dir }}
{% endif %}
{% if patroni_postgresql_pgpass |d(None, true) %}
  pgpass: {{ patroni_postgresql_pgpass }}
{% endif %}
{% if patroni_postgresql_authentication |d([], true) |length > 0 %}
  authentication:
  {% for role in patroni_postgresql_authentication %}
    {{ role.type }}:
      username: {{ role.username }}
      password: {{ role.password }}
  {% endfor %}
{% endif %}
{% if patroni_postgresql_callbacks |map(attribute='script') |join() |trim |length > 0 %}
  callbacks:
  {% for callback in patroni_postgresql_callbacks %}
    {% if callback.script |d(None, true) %}
    {{ callback.event }}: {{ callback.script }}
    {% endif %}
  {% endfor %}
{% endif %}
  create_replica_methods:
  {% for create_replica_method in patroni_postgresql_create_replica_methods |d(['basebackup'], true) %}
    - {{ create_replica_method }}
  {% endfor %}
{% for create_replica_method in patroni_postgresql_create_replica_methods |d(['basebackup'], true) %}
  {% if (vars['patroni_postgresql_' + create_replica_method]) |d([], true) |length > 0 %}
  {{ create_replica_method }}:
{% for item in vars['patroni_postgresql_' + create_replica_method] %}
  {% if item.value is undefined %}
    {{ item.option }}
  {% else %}
    {{ item.option }}: {{ item.value }}
  {% endif %}
{% endfor %}
  {% endif %}
{% endfor %}
{% if patroni_postgresql_recovery_conf |d([], true) |length > 0 %}
  recovery_conf:
  {% for item in patroni_postgresql_recovery_conf %}
    {{ item.option }}: {{ item.value }}
  {% endfor %}
{% endif %}
{% if patroni_postgresql_custom_conf |d(None, true) %}
  custom_conf: {{ patroni_postgresql_custom_conf }}
{% endif %}
{% if patroni_postgresql_parameters |d([], true) |length > 0 %}
  parameters:
  {% for guc in patroni_postgresql_parameters %}
    {{ guc.option }}: {{ guc.value }}
  {% endfor %}
{% endif %}
{% if patroni_postgresql_pg_hba |d([], true) |length > 0 %}
  pg_hba:
  {% for client in patroni_postgresql_pg_hba %}
    - {{ client.type }} {{ client.database }} {{ client.user }} {{ client.address|d(None) }} {{ client.method }}
  {% endfor %}
{% endif %}
  pg_ctl_timeout: {{ patroni_postgresql_pg_ctl_timeout |d(60, true) |int }}
{% if patroni_postgresql_use_pg_rewind |bool %}
  use_pg_rewind: true
  {% if patroni_superuser_username |d(None, true) and patroni_superuser_password |d(None, true) %}
  pg_rewind:
    username: {{ patroni_superuser_username }}
    password: {{ patroni_superuser_password }}
  {% endif %}
  remove_data_directory_on_rewind_failure: {{ patroni_postgresql_remove_data_directory_on_rewind_failure |d(false, true) |lower }}
{% endif %}

watchdog:
  mode: {{ patroni_watchdog_mode |d('automatic', true) |lower }}
{% if patroni_watchdog_mode |d('automatic', true) |lower in ('automatic', 'required') %}
  device: {{ patroni_watchdog_device |d('/dev/watchdog', true) }}
  safety_margin: {{ patroni_watchdog_safety_margin |d(5, true) |int }}
{% endif %}

{% if patroni_tags |d([], true) |length > 0 %}
tags:
  {% for tag in patroni_tags %}
    {{ tag.name }}: {{ tag.value }}
  {% endfor %}
{% endif %}
